@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.wrapper{
  width:100%;

  overflow-x: hidden;
  overflow-y: auto;
}

.navbar{
  width:100%;
  height: 80px;
  background-color: #01061d;
  padding:30px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo{
  color:#D9D2C3;
  font-size: 14px;
  font-weight: 600;
}

.navbar .links{
  color:#D9D2C3;
  display:flex;
  cursor:pointer;
  list-style: none;
}

.navbar .links li{
  margin:0 15px;
  font-size: 14px;
  font-weight: 600;

}
